/* Admin.module.css */
.dashboardContainer {
    min-height: 100vh;
    background-color: #ff0000;
    padding: 40px;
  }
  
  .adminTitle {
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(to bottom, #ffffff, #71717a);
    -webkit-background-clip: text;
    -webkit-text-clip: text;
  }
  